<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Add lamp</h1>
        <form action="/house/add-lamp" method="post">
            <div class="form-group">
                <label for="description">Lamp description:</label>
                <input type="text" id="description" name="description" class="form-control">
            </div>
            <div class ="form-group">
                <label for="location">Location:</label>
                <select name="location">
                    <option value="a">a</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class ="form-group">
                <label for="power">Power usage:</label>
                <input type="number" id="power" name="power" class="form-control">
            </div>
            <button type="submit" class ="btn btn-primary">Submit</button>
        </form>
        <hr>
        {{#if array}}
            {{#each array}}
                <div class ="form-group">
                    Power: {{this.power}}
                    Location: {{this.location}}
                    Description: {{this.description}}
                    test: {{test}}
                </div>
            {{/each}}
        {{else}}
            no array? wtf hunted
        {{/if}}

    </div>
</div>

